<div class="blog">

    <section class="panel form-panel">
        <h2>Nueva publicación</h2>

        <form class="post-form" (ngSubmit)="addPost()">
            <div class="field">
                <label for="title">Titulo</label>
                <input id="title" name="title" type="text" placeholder="Escribe el titulo" [(ngModel)]="newPost.title"
                    ]>
            </div>

            <div class="field">
                <label for="image">Imagen (URL)</label>
                <input id="image" name="imageUrl" type="url" placeholder="https://..." [(ngModel)]="newPost.imageUrl" />
            </div>

            <div class="field">
                <label for="body">Texto</label>
                <textarea id="body" name="body" rows="6" placeholder="Escribe el texto de la noticia"
                    [(ngModel)]="newPost.body"></textarea>

            </div>

            <div class="field">
                <label for="date">Fecha de publicación</label>
                <input id="date" name="date" type="date" [(ngModel)]="newPost.date" />
            </div>

            <button type="submit">Publicar</button>



        </form>

    </section>

    <section class="panel list-panel">
        <h2>Listado de noticias</h2>

        @if (posts.length ===0 ){
        <p>No hay publicaciones todavía</p>
        }@else{
        @for(post of posts; track $index){
        <article class="post">
            <h3>{{post.title}}</h3>

            <img [src]="post.imageUrl" [alt]="post.title">

            <p>{{post.body}}</p>

            <small>{{post.date}}</small>
        </article>
        }
        }

    </section>
</div>