*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.blog{
    display: flex;
    gap:16px;
    padding: 16px;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
}

/*Cada panel que ocupe la mitad*/
h2{
    text-align: center;
    padding: 10px;
    border-bottom :#110d0d solid 1px
}
.panel{
    flex:1;
    border: 1px solid #110d0d;
    border-radius: 8px;
    padding: 16px;
    background-color: rgb(216, 222, 241);
}

/*Formulario*/

.post-form {
    display:flex;
    flex-direction: column;
    gap: 12px;
    

}

.field{
    display:flex;
    flex-direction: column;
    gap: 6px;
}

input, textarea{
    padding:8px;
    border: 1px solid #171313;
    border-radius: 6px;
}

button{
    padding:10px;
    border: 0;
    border-radius: 6px;
    cursor:pointer;
}

.post img{

    width: 100%;
}




@media (max-width: 900px){
    .blog{
        flex-direction: column;
        
    }
    .panel{
        width: 100%;
    }
}